<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="option">
            <h2><span jhiTranslate="cygApp.option.detail.title">Option</span> {{option.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cygApp.option.name">Name</span></dt>
                <dd>
                    <span>{{option.name}}</span>
                </dd>
                <dt><span jhiTranslate="cygApp.option.description">Description</span></dt>
                <dd>
                    <span>{{option.description}}</span>
                </dd>
                <dt><span jhiTranslate="cygApp.option.image1">Image 1</span></dt>
                <dd>
                    <div *ngIf="option.image1">
                        <a (click)="openFile(option.image1ContentType, option.image1)">
                            <img [src]="'data:' + option.image1ContentType + ';base64,' + option.image1" style="max-width: 100%;" alt="option image"/>
                        </a>
                        {{option.image1ContentType}}, {{byteSize(option.image1)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="cygApp.option.image2">Image 2</span></dt>
                <dd>
                    <div *ngIf="option.image2">
                        <a (click)="openFile(option.image2ContentType, option.image2)">
                            <img [src]="'data:' + option.image2ContentType + ';base64,' + option.image2" style="max-width: 100%;" alt="option image"/>
                        </a>
                        {{option.image2ContentType}}, {{byteSize(option.image2)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="cygApp.option.image3">Image 3</span></dt>
                <dd>
                    <div *ngIf="option.image3">
                        <a (click)="openFile(option.image3ContentType, option.image3)">
                            <img [src]="'data:' + option.image3ContentType + ';base64,' + option.image3" style="max-width: 100%;" alt="option image"/>
                        </a>
                        {{option.image3ContentType}}, {{byteSize(option.image3)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="cygApp.option.offer">Offer</span></dt>
                <dd>
                    <div *ngIf="option.offer">
                        <a [routerLink]="['/offer-cyg', option.offer?.id, 'view']">{{option.offer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/option-cyg', option.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
